*,
html {
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

/* CLIENT PAGE */
.btn-support {
  float: right;
  width: 153px;
  height: 56px;

  background: #8257e6;
  border-radius: 68px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.btn-support:hover {
  opacity: 0.9;
}

.chat {
  display: none;
}

.in-support-header {
  float: right;
  width: 320px;
  height: 56px;

  background: #8257e6;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
}

.in-support-header span {
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.icon-close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-support {
  position: absolute;
  max-width: 330px;
  right: 10px;
  transition: all 0.2s;
  animation: up 1s;
}

.text-support {
  border: 1px solid #cec9c9;
  max-height: 500px;
  overflow-y: auto;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.client .name {
  text-align: end;
  font-size: 12px;
  margin-bottom: -12px;
  padding-right: 10px;
}

.client .message {
  background: #f2ecfa;
  padding: 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  float: right;
}

.adminBox {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 0 !important;
  margin-top: 5px;
}

.admin-name {
  font-size: 12px;
  margin-bottom: -8px;
}

.adminBox .message {
  float: right;
  display: flex;
  flex-direction: column;
  width: 230px;
  background: #6F5EAB;
  color: #fff;
  border: 0 !important;
  border-radius: 4px;
  padding: 10px;
  margin-left: 3px;
}

.message-send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
}

.message-send input {
  outline: none;
  border: 1px solid #cec9c9;
  border-radius: 4px;
  height: 34px;
  align-items: center;
  width: 252px;
}

.btn-send-message {
  display: flex;
  cursor: pointer;
}

.text-help {
  padding-top: 8px;
}

.text-help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

#txtHelp:focus {
  outline: none;
}

.charac-remaining {
  font-size: 10px;
  float: right;
}

.first-email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first-email input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

input[type='text']:focus {
  outline: 1px solid #a8a8a8;
}

.btn-start-chat {
  width: 121px;
  height: 40px;

  background: #8257e6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-start-chat:hover {
  opacity: 0.8;
}

.btn-cancel {
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

/* ADMIN PAGE */
.btn-start-support {
  cursor: pointer;
  color: #fff;
  background: #8257e6;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: max-content;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn-start-support:hover {
  opacity: 0.9;
}

.email {
  float: left;
  width: 350px;
}

#supports {
  width: 600px;
  margin-top: 15px;
}

.admin {
  border: 1px solid #cec9c9;
  border-radius: 4px;
  padding: 0;
}

.in-support-title {
  background: #8d7aef;
  width: 589px;
  margin: -1px 0;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.admin-list-messages {
  height: 300px;
  overflow-y: auto;
}

.admin-send-message {
  display: flex;
  flex-direction: row;
}

.admin-send-message input {
  width: 500px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #cec9c9;
  outline: none;
}

.btn-send {
  width: 80px;
  cursor: pointer;

  background: #1eb363;
  color: #eee;
  border: none;
  border-radius: 4px;
}

.btn-send:hover {
  opacity: 0.8;
}

/* ELEMENTS CREATED IN JS */
.admin-message-admin {
  width: 300px;
  background: #e0e0e0;
  padding: 10px;
  margin: 12px;
  float: right;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #000;
}

.admin-message-client {
  width: 300px;
  background: #6f5eab;
  padding: 10px;
  margin: 10px;
  color: #eee;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.admin-date {
  font-size: 10px;
  color: #000;
}

.user-date {
  font-size: 10px;
  color: #fff;
}

.user-name {
  text-align: left;
  font-size: 12px;
  margin-bottom: -12px;
  padding-right: 10px;
}

/* ANIMATIONS */
@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}
